:root{
    --primary-font: 'Roboto', sans-serif;
    --body-size: 1440px;
    --container: 1230px;
    --gap: 15px;
    --body-bg: #E5E5E5;
    --wrapper-bg: #F4F4F4;
    --white-color: #fff;
    --primary-color: #FFC800;
    --text-color: #000000;
    --d4-color: #FCD4D4;
    --price-color:#009EFE;


/*color clothes*/
    --purple-color: #EF9CD6;
    --blue-color: #85CEF2;
    --orange-color: #F4EA88;

/*responsive*/
    --mobile: 1024px;
    --tablet: 1200px;

}